<li id="navbar-director" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">集群管理</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'project-list' %}?show_all_projects=on">所有项目</a>
        <a class="dropdown-item" href="{% url 'allocation-list' %}?show_all_allocations=on">所有分配</a>
        <a class="dropdown-item" href="{% url 'resource-list' %}">所有资源</a>
        <a id="navbar-project-reviews" class="dropdown-item" href="{% url 'project-review-list' %}">项目审核</a>
        <a id="navbar-grant-report" class="dropdown-item" href="{% url 'grant-report' %}">资助报表</a>
    </div>
</li>