<li id="navbar-admin" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">管理中心</a>
    <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin">后台中心</a>
            <a id="navbar-user-search" class="dropdown-item" href="#">用户搜索</a>
            <a class="dropdown-item" href="#">所有项目</a>
            <a class="dropdown-item" href="#">所有分配</a>
            <a class="dropdown-item" href="#">所有资源</a>
            <a id="navbar-project-reviews" class="dropdown-item" href="">项目审查</a>
            <a id="navbar-allocation-request" class="dropdown-item" href="">分配请求</a>
            <a id="navbar-allocation-change-request" class="dropdown-item" href="">更改分配请求</a>
            <a id="navbar-grant-report" class="dropdown-item" href="">资助报告</a>
    </div>
</li>