{% extends "common/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
{% if user_dict %}
  <div class="card border-light">
    <div class="card-body">
        <div class="table-responsive">
          <table id="user-table" class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">用户名</th>
                <th scope="col">姓名</th>
                <th scope="col">分配</th>
              </tr>
            </thead>
            <tbody>
              {% for user, allocations in user_dict.items %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.first_name }}</td>
                  <td class="text-nowrap">
                    {% for allocation in allocations %}
                      <a href="{% url 'allocation-detail' allocation.pk %}">{{ allocation.get_parent_resource.name }} ({{ allocation.get_parent_resource.resource_type.name }})</a>  {% if 'slurm' in allocation.get_information %} -- {{allocation.get_information}} {% else %} <br> {% endif %}
                    {% endfor %} 
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#user-table').DataTable({
        "iDisplayLength": 25,
        "bSortClasses": false,
        "columnDefs": [ {
        "targets": 4,
        "orderable": false
      } ],
      "language": {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "搜索：",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    }
      });
    });
  </script>
{% else %}
  <div class="alert alert-secondary">
    你不是任何项目的项目经理
  </div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");
  $("#navbar-user-allocation").addClass("active");
</script>
{% endblock %}

