{% extends 'common/base.html' %}
{% load static %}

{% block title %}
个人中心{% if not user == viewed_user %}&nbsp{{ viewed_user.usename }}{% endif %}
{% endblock  %}

{% block content %}
<h2>个人中心</h2>
<hr>

<div class="card">
    <div class="card-header">
        <i class="fas fa-user" aria-hidden="true"></i>
        &nbsp{{ viewed_user.username }}
        <div class="float-right">
            <a class="btn btn-info" href="{% url 'user-projects-managers' viewed_user %}" role="button"><i class="far fa-user-circle" aria-hidden="true"></i>&nbsp查看参与项目及其管理员</a>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title text-center h4">
            {{viewed_user.first_name}}
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" nowrap>大学职务：</th>
                        <td>{{group_list}}</td>
                    </tr>
                    <tr>
                        <th scope="row">邮箱：</th>
                        <td>{{viewed_user.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">项目负责人：</th>
                        <td>
                            {% if viewed_user.userprofile.is_pi %}
                                <span class="badge badge-success"><i class="fas fa-check" aria-hidden="true"></i><span class="sr-only">是</span></span>
                            {% elif not user == viewed_user %}
                                <span class="badge badge-danger"><i class="fas fa-times" aria-hidden="true"></i><span class="sr-only">否</span></span>
                            {% else %}
                                <form class="form-inline" method="post" action="{% url 'user-upgrade' %}">
                                    <div class="form-group mb-2">
                                        <span class="badge badge-danger"><i class="fas fa-times" aria-hidden="true"></i><span class="sr-only">否</span></span>
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary" type="submit"><i class="fas fa-chevron-circle-up" aria-hidden="true"></i>升级账户</button>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">上次登录：</th>
                        <td>{{viewed_user.last_login}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-user").addClass("active");
    $("#navbar-user-user-profile").addClass("active");
</script>
{% endblock %}