{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
添加项目通知
{% endblock %}


{% block content %}
<h2>给{{project.title}}添加通知，项目负责人为{{ project.pi.first_name }}({{ project.pi.username }})</h2>

<form method="post">
  {% csrf_token %}
  {{form |crispy}}
  <input class="btn btn-success" type="submit" value="添加" />
  <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">返回</a><br>
</form>
{% endblock %}