{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
项目列表
{% endblock %}


{% block content %}
<div class="card mb-3 bg-light">
  <div class="card-body">
    {% if user.userprofile.is_pi or user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'project-create' %}" role="button"><i class="fas fa-plus" aria-hidden="true"></i> 添加项目</a> {% endif %}
    <div class="float-right">
      <a class="btn btn-primary" href="{% url 'project-archived-list' %}?{{filter_parameters}}" role="button"><i class="fas fa-archive" aria-hidden="true"></i>查看封存项目</a>
    </div>
  </div>
</div>

<h2>项目</h2>
<hr>
{% if expand_accordion == "show" or project_list or user.is_superuser%}
  <div class="mb-3" id="accordion">
    <div class="card">
      <div class="card-header">
        <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne"> 
          <i class="fas fa-filter" aria-hidden="true"></i> 搜索
          <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse {{expand_accordion}}" data-parent="#accordion">
        <div class="card-body">
          <form id="filter_form" method="GET" action="{% url 'project-list' %}" autocomplete="off">
            {{ project_search_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Search">
            <button id="form_reset_button" type="button" class="btn btn-secondary">重置</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}
{% if project_list %}
  <strong>项目: {{projects_count}}</strong>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="text-nowrap">
            ID
            <a href="?order_by=id&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">根据ID升序</span></a>
            <a href="?order_by=id&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">根据ID降序</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            项目负责人
            <a href="?order_by=pi__username&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">根据项目负责人升序</span></a>
            <a href="?order_by=pi__username&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">根据项目负责人降序</span></a>
          </th>
          <th scope="col">标题</th>
          <th scope="col" class="text-nowrap">
            学科领域
            <a href="?order_by=field_of_science&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">根据学科领域升序</span></a>
            <a href="?order_by=field_of_science&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">根据学科领域降序</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            状态
            <a href="?order_by=status&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">根据状态升序</span></a>
            <a href="?order_by=status&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">根据状态降序</span></a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
          <tr>
            <td><a href="/project/{{project.id}}/">{{ project.id }}</a></td>
            <td>{{ project.pi.username }}</td>
            <td style="text-align: justify; text-justify: inter-word;">{{ project.title }}</td>
            <td>{{ project.field_of_science.description }}</td>
            <td>{{ project.status.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %} 页 {{ page_obj.number }} 共 {{ page_obj.paginator.num_pages }}
      <ul class="pagination float-right mr-3">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{filter_parameters_with_order_by}}">上一页</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{filter_parameters_with_order_by}}">下一页</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% elif expand_accordion == "show"%}
  <div class="alert alert-info">
    没有搜索结果
  </div>
{% else %}
  <div class="alert alert-info">
    没有项目！
  </div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");
  $("#navbar-project").addClass("active");

  $(document).on('click', '#form_reset_button', function() {
    resetForm($('#filter_form'));
  });

  function resetForm($form) {
    $form.find('input:text, textarea').val('');
  };

  $("#expand_button").click(function() {
    $('#collapseOne').collapse();
    icon = $("#plus_minus");
    icon.toggleClass("fa-plus fa-minus");
  });
</script>
{% endblock %}
